/* General styles */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
}

/* Navbar styles */
.navbar {
    background-color: darkgreen;
}

.navbar-brand {
    color: black;
    display: flex;
    align-items: center;
}

.navbar-icon {
    width: 100px; 
    height: auto;
    margin-right: 10px;
}

.navbar-brand b {
    font-size: 45px;
    margin-left: 180px;
}

.nav-link {
    font-size: 20px; 
}

.nav-link:hover {
    color: white;
}

/* Card container styles */
.card-container {
    display: flex;
    flex-wrap: wrap; 
    gap: 20px;
    justify-content: center; 
}
/* Featured card styles */
.featured {
    width: 100%; 
    height: 500px; 
    padding: 20px;
    border: 1px solid #ddd;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    overflow: hidden; 
    margin-bottom: 20px; 
    box-shadow: 0 2px 10px darkgreen;
}

.featured-img-top {
    width: 300px; 
    height: auto; 
    object-fit: cover;
    margin-left: 460px;
    
}

.featured-body {
    margin-top: 20px;
}

.featured-title {
    font-size: 40px; 
    margin-bottom: 10px;
    margin-left: 460px;
    font-style: italic;
}

.featured-text {
    text-align: justify;
}

/* project Card styles */

.card {
    position: relative;
    width: 300px; 
    height: 300px; 
    padding: 20px;
    border: 1px solid #ddd;
    box-shadow: 0 2px 10px darkgreen;
    overflow: hidden; 
    margin-left: 100px;
}

.card-img-top {
    width: 50px;
    height: auto;
    position: absolute;
    top: 20px;
    left: 20px;
}

.card-body {
    margin-top: 80px; 
}

.card-title {
    font-size: 24px;
    margin-bottom: 10px;
}

.card-text {
    text-align: justify;
}

.btn-primary { 
background-color: darkgreen;
}

/* Button styles */
.btn-success {
    display: inline-block;
    padding: 0; 
    background-color: transparent; 
    border: none; 
    cursor: pointer;
}

.btn-success img.btn-icon {
    width: 50px; 
    height: auto;
}




/* Footer styles */
footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px 0;
    margin-top: 40px;
}

/* About Me section styles */
.about-me {
    padding: 40px 0;
}

.about-me h2 {
    text-align: center;
    margin-bottom: 20px;
}

/* Bio card styles */
.bio-card {
    display: flex;
    align-items: flex-start;
    padding: 20px;
    border: 1px solid #ddd;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    background-color: #fff;
}

.bio-card img {
    width: 150px;
    height: 170px;
    margin-right: 20px;
    border: 5px solid black
}

.bio-card .container {
    flex: 1;
    background-color: lightgray;
}

.bio-card h4 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #333;
    text-align: center;
}

.bio-card p {
    text-align: justify;
    margin-bottom: 10px;
    color: black;
}

/* Carousel styles */
.carousel-item img {
    height: 500px; /* Adjust the height as needed */
    object-fit: cover; /* Ensure the image covers the area */
}

.carousel-caption p {
    font-size: 40px; /* Increase the font size */
    color: black; /* Set the text color to black */
    text-shadow: 2px 2px 4px darkgreen; /* Add white outline */
    font-weight: bold; /* Make the text bold */
}